In [1]:
import requests
import lxml.html as lh
import pandas as pd

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

#Create a handle, page, to handle the contents of the website
page = requests.get(url)

#Store the contents of the website under doc
doc = lh.fromstring(page.content)

#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [3]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [4]:
# Parse the first row as our header
tr_elements = doc.xpath('//tr')

#Create empty list
col=[]
i=0

#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print ('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [6]:
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [7]:
[len(C) for (title,C) in col]

[576, 576, 576]

In [8]:
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [9]:
# Access the top 5 rows of the data frame 
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [10]:
df.columns = ['Borough', 'Neighbourhood','Postcode']

cols = df.columns.tolist()
cols

cols = cols[-1:] + cols[:-1]

df = df[cols]

df.head()

             Postcode Borough     Neighbourhood
0      Not assigned\n     M1A      Not assigned
1      Not assigned\n     M2A      Not assigned
2         Parkwoods\n     M3A        North York
3  Victoria Village\n     M4A        North York
4      Harbourfront\n     M5A  Downtown Toronto

In [11]:

df = df.replace('\n',' ', regex=True)
df.head()

            Postcode Borough     Neighbourhood
0      Not assigned      M1A      Not assigned
1      Not assigned      M2A      Not assigned
2         Parkwoods      M3A        North York
3  Victoria Village      M4A        North York
4      Harbourfront      M5A  Downtown Toronto

In [12]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

# Reset the index and dropping the previous index
df = df.reset_index(drop=True)

df.head(90)

                Postcode Borough     Neighbourhood
0          Not assigned      M1A      Not assigned
1          Not assigned      M2A      Not assigned
2             Parkwoods      M3A        North York
3      Victoria Village      M4A        North York
4          Harbourfront      M5A  Downtown Toronto
5           Regent Park      M5A  Downtown Toronto
6      Lawrence Heights      M6A        North York
7        Lawrence Manor      M6A        North York
8          Not assigned      M7A      Queen's Park
9          Not assigned      M8A      Not assigned
10     Islington Avenue      M9A         Etobicoke
11                Rouge      M1B       Scarborough
12              Malvern      M1B       Scarborough
13         Not assigned      M2B      Not assigned
14      Don Mills North      M3B        North York
15     Woodbine Gardens      M4B         East York
16        Parkview Hill      M4B         East York
17              Ryerson      M5B  Downtown Toronto
18      Garden District      M5B  Downtown Toronto
19            Glencairn      M6B        North York
20         Not assigned      M7B      Not assigned
21         Not assigned      M8B      Not assigned
22           Cloverdale      M9B         Etobicoke
23            Islington      M9B         Etobicoke
24         Martin Grove      M9B         Etobicoke
25     Princess Gardens      M9B         Etobicoke
26      West Deane Park      M9B         Etobicoke
27       Highland Creek      M1C       Scarborough
28           Rouge Hill      M1C       Scarborough
29           Port Union      M1C       Scarborough
..                   ...     ...               ...
60         Not assigned      M8G      Not assigned
61         Not assigned      M9G      Not assigned
62            Cedarbrae      M1H       Scarborough
63    Hillcrest Village      M2H        North York
64       Bathurst Manor      M3H        North York
65      Downsview North      M3H        North York
66       Wilson Heights      M3H        North York
67     Thorncliffe Park      M4H         East York
68             Adelaide      M5H  Downtown Toronto
69                 King      M5H  Downtown Toronto
70             Richmond      M5H  Downtown Toronto
71   Dovercourt Village      M6H      West Toronto
72             Dufferin      M6H      West Toronto
73         Not assigned      M7H      Not assigned
74         Not assigned      M8H      Not assigned
75         Not assigned      M9H      Not assigned
76  Scarborough Village      M1J       Scarborough
77             Fairview      M2J        North York
78           Henry Farm      M2J        North York
79               Oriole      M2J        North York
80       Northwood Park      M3J        North York
81      York University      M3J        North York
82         East Toronto      M4J         East York
83    Harbourfront East      M5J  Downtown Toronto
84      Toronto Islands      M5J  Downtown Toronto
85        Union Station      M5J  Downtown Toronto
86      Little Portugal      M6J      West Toronto
87              Trinity      M6J      West Toronto
88         Not assigned      M7J      Not assigned
89         Not assigned      M8J      Not assigned

[90 rows x 3 columns]

In [13]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(12)

             Postcode Borough                      Neighbourhood
0           Adelaide      M5H  Downtown Toronto,Downtown Toronto
1          Agincourt      M1S            Scarborough,Scarborough
2    Agincourt North      M1V            Scarborough,Scarborough
3     Albion Gardens      M9V                Etobicoke,Etobicoke
4          Alderwood      M8W                Etobicoke,Etobicoke
5     Bathurst Manor      M3H              North York,North York
6      Bathurst Quay      M5V  Downtown Toronto,Downtown Toronto
7    Bayview Village      M2K              North York,North York
8   Beaumond Heights      M9V                Etobicoke,Etobicoke
9       Bedford Park      M5M              North York,North York
10       Berczy Park      M5E  Downtown Toronto,Downtown Toronto
11       Birch Cliff      M1N            Scarborough,Scarborough

In [18]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

In [19]:
df.loc[df['Neighbourhood'] == 'Not assigned', 'Neighbourhood'] = df['Borough']

In [20]:
df[df['Borough'] == 'Queen\'s Park']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [17]:

df.shape

(288, 3)